#menu-nav {
    background-color: burlywood;
}
#navbar-logo{
    color: black;
    font-size: 3em;
}

header h2{
    margin: 25px 0;
    text-transform: uppercase;
    font-size: 4em;


}
.menu-item{
    margin : 25px 0;
    background-color: burlywood;
}
.menu-item .menu-item-title{
    text-transform: uppercase;
    font-size: 2.5em;
}
.nav-item a{
    width: 100%;
    border-bottom: solid 2px black;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-item a:hover, .nav-item a:active{
    border: solid 2px black;
    color: black;
}